.parsley-errors-list li{
    color: #f00;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
}


#img {
    margin-bottom: 20px !important;
}

ul.parsley-errors-list {
    margin:0;
    padding-left: 5px;
}